[Unit]
Description=Starts i3lock at suspend time
Before=sleep.target suspend.target hibernate.target hybrid-sleep.target

[Service]
User=hexated
Type=forking
Environment=DISPLAY=:0
ExecStart=i3lock-custom
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target suspend.target hibernate.target hybrid-sleep.target

