[Unit]
Description=Starts i3lock at suspend time
Before=suspend.target

[Service]
User=hexated
Type=forking
Environment=DISPLAY=:0
ExecStartPre=
ExecStart=/home/hexated/bin/lockscreen.sh

[Install]
WantedBy=suspend.target
